:root{
    --ConfyNeutral01: #e1dcd9;
    --ConfyNeutral02: #8f8681;
    --ConfyNeutral03: #a67f78;
    --ConfyNeutral04: #32435f;

    --MellowAgate01: #ffd954;
    --MellowAgate02: #e4b660;
    --MellowAgate03:#f2ab39;
    --MellowAgate04:#69491a;
}